<script setup>
import { defineProps } from 'vue'
import Delegaciones from '@/components/leyendas/Delegaciones.vue'
import Contenedores from '@/components/leyendas/Contenedores.vue'
import PuntosFijos from '@/components/leyendas/PuntosFijos.vue'
import RellenosSanitarios from '@/components/leyendas/RellenosSanitarios.vue'

const props = defineProps({
  colapsado: {
    type: Boolean,
    default: false,
  },
})
</script>

<template>
  <div class="flex flex-col my-4">
    <Delegaciones :colapsado="props.colapsado" />
    <Contenedores :colapsado="props.colapsado" />
    <PuntosFijos :colapsado="props.colapsado" />
    <RellenosSanitarios :colapsado="props.colapsado" />
  </div>
</template>
