<script setup>
import { defineEmits } from 'vue'

const emit = defineEmits(['selectOption'])

function selected() {
  emit('selectOption')
}
</script>

<template>
  <div
    class="p-1 hover:bg-slate-400 cursor-pointer"
    @click="selected"
  >
    <slot></slot>
  </div>
</template>
