<script setup>
import { ref, watch } from 'vue'
import RutaSeleccionada from './ruta/RutaSeleccionada.vue'
import LeyendaCapasContexto from './LeyendaCapasContexto.vue'

const store = useSeleccionadorRutaStore()

const { rutaSeleccionada } = storeToRefs(store)

const panelAbierto = ref(false)

watch(rutaSeleccionada, (newValue) => {
  if (newValue.length !== '')
    panelAbierto.value = true
})
</script>

<template>
  <div>
    <div
      class="flex flex-col w-16 pt-28 justify-start items-center lg:pt-6 h-full"
    >
      <button @click="panelAbierto = !panelAbierto">
        <span class="material-symbols-outlined"> menu </span>
      </button>
      <LeyendaCapasContexto :colapsado="true" />
      <a
        class=""
        title="Manual de usuario"
        href="https://drive.google.com/file/d/14wwBWXZdKBV2fiIhHoVOB6_GT-j7R4Ld/view?usp=sharing"
        target="_blank"
      >
        <span class="material-symbols-outlined"> info </span>
      </a>
    </div>
    <div
      class="absolute top-0 left-0 bg-white w-full h-full flex flex-col z-10 px-3 pt-28 shadow-md lg:w-1/4 lg:pt-6 xl:w-[300px]"
      :class="{ hidden: !panelAbierto }"
    >
      <div class="flex flex-row justify-between items-start">
        <div>Rutas de recolección Toluca</div>
        <div class="">
          <button @click="panelAbierto = !panelAbierto">
            <span class="material-symbols-outlined"> close </span>
          </button>
        </div>
      </div>
      <RutaSeleccionada v-if="rutaSeleccionada !== ''" />
      <LeyendaCapasContexto />
      <a
        class="flex flex-row items-center"
        title="Manual de usuario"
        href="https://drive.google.com/file/d/14wwBWXZdKBV2fiIhHoVOB6_GT-j7R4Ld/view?usp=sharing"
        target="_blank"
      >
        <span class="material-symbols-outlined mr-4"> info </span>
        Información
      </a>
    </div>
  </div>
</template>
