<script setup>
import { computed } from 'vue'
import Selector from './Selector.vue'
import { useSeleccionadorRutaStore } from '@/stores/seleccionadorRuta'

const store = useSeleccionadorRutaStore()

const { data } = await useFetch('/api/catalogo-rutas')

const rutas = [...data.value].map((ruta) => {
  return {
    value: ruta.id,
    displayText: ruta.displayText,
    displayHtml: ruta.displayHtml,
  }
})

// const utbSeleccionada = ref("")
const utbSeleccionada = computed({
  get() {
    return store.rutaSeleccionada
  },
  set(newValue) {
    store.rutaSeleccionada = newValue
  },
})
</script>

<template>
  <div
    class="absolute top-0 w-full z-20 bg-white rounded-md p-4 shadow-md lg:left-1/4 lg:w-2/4"
  >
    <Selector
      v-model="utbSeleccionada"
      :opciones="rutas"
    />
  </div>
</template>
