<script setup>
import { computed, defineEmits, defineProps, ref } from 'vue'
import OpcionSelector from './OpcionSelector.vue'

const props = defineProps(['opciones', 'modelValue'])
const emit = defineEmits(['update:modelValue'])
const texto = ref('')
const showOptions = ref(false)
const opcionesActuales = computed(() => {
  if (texto.value.length > 1) {
    const terminoBusquedaNormalizado = texto.value
      .normalize('NFD')
      .replace(/\p{Diacritic}/gu, '')
    const filtro = props.opciones.filter((option) => {
      const opcionNormalizada = option.displayText
        .normalize('NFD')
        .replace(/\p{Diacritic}/gu, '')

      return opcionNormalizada
        .toLowerCase()
        .includes(terminoBusquedaNormalizado.toLowerCase())
    })
    return filtro
  }
  return props.opciones
})

let lastTimer = 0

function alSeleccionarOpcion(opcion) {
  texto.value = opcion.displayText
  clearTimeout(lastTimer)
  lastTimer = setTimeout(() => {
    showOptions.value = false
  }, 500)
  emit('update:modelValue', opcion.value)
}

function alDesenfocarSlector() {
  clearTimeout(lastTimer)
  lastTimer = setTimeout(() => {
    showOptions.value = false
  }, 1000)
}

function alEnfocarSelector() {
  showOptions.value = true
  clearTimeout(lastTimer)
}

const input_principal = ref(null)
function borrarTexto() {
  texto.value = ''
  input_principal.value.focus()
}
</script>

<template>
  <div
    class="border relative"
    tabindex="0"
  >
    <input
      ref="input_principal"
      v-model.trim="texto"
      type="text"
      class="w-full px-10 py-3 border-0 focus:border-0 active:border-0"
      placeholder="Buscar ruta"
      @focus="alEnfocarSelector"
      @blur="alDesenfocarSlector"
    />
    <span class="material-symbols-outlined absolute top-3 left-3 bg-white">
      search
    </span>
    <span
      v-show="texto.length > 1"
      class="material-symbols-outlined absolute top-3 right-3 bg-white cursor-pointer"
      @click="borrarTexto"
    >
      close
    </span>
    <div
      v-if="showOptions"
      class="absolute top-full bg-white w-full max-h-[80vh] overflow-y-scroll shadow-lg"
    >
      <OpcionSelector
        v-for="option in opcionesActuales"
        :key="option.value"
        @select-option="alSeleccionarOpcion(option)"
      >
        <div v-html="option.displayHtml"></div>
      </OpcionSelector>
    </div>
  </div>
</template>
