<script setup>
import { Popover, PopoverButton, PopoverPanel } from '@headlessui/vue'
import { useLayerSwitcherStore } from '@/stores/layerSwitcher.ts'

const props = defineProps({
  colapsado: {
    type: Boolean,
    default: false,
  },
})
const store = useLayerSwitcherStore()
const random_id = Math.random().toString(36).substring(2)

const contenedores = computed({
  get() {
    return store.contenedoresVisible
  },
  set(value) {
    store.contenedoresVisible = value
  },
})
</script>

<template>
  <Popover>
    <PopoverButton
      as="div"
      class="flex flex-row items-center mt-2"
      :class="{ 'justify-center': props.colapsado }"
    >
      <div>
        <input
          :id="`check_contenedores${random_id}`"
          v-model="contenedores"
          type="checkbox"
        />
      </div>
      <div :class="{ 'ml-2': !props.colapsado }">
        <img
          src="/contenedor.png"
          alt=""
          class="w-[35px]"
        />
      </div>
      <label
        :for="`check_contenedores${random_id}`"
        class="ml-2"
        :class="{ hidden: props.colapsado }"
      >
        Contenedores fijos
      </label>
    </PopoverButton>
    <PopoverPanel class="absolute z-10 px-2 mt-3 w-screen md:w-[500px] md:px-4">
      <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black/5">
        <div class="relative bg-white p-4 md:p-6 space-y-2">
          <button
            class="rounded-md bg-blue-100 px-4 py-2 text-sm font-medium text-blue-900 hover:bg-blue-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 w-full mb-2"
            @click="contenedores = !contenedores"
          >
            {{ contenedores ? 'Apagar' : 'Encender' }} capa
          </button>
          <h3>
            <span class="font-bold">
              CONTENEDORES RECEPCIÓN DE RESIDUOS SÓLIDOS
            </span>
            (NO PELIGROSOS)
          </h3>
          <p>
            <b>OBJETIVO:</b> Aminorar tiraderos clandestinos y focos de
            infección, que afectan de manera directa a la Imagen Urbana.
          </p>
          <p>
            Recepción: ORGANICOS, INORGANICOS Y VOLUMINOSOS (debidamente
            separados)
          </p>
          <p>Horario: lunes a Domingo, Horario abierto</p>
          <p>Atención: Público en General.</p>
        </div>
      </div>
    </PopoverPanel>
  </Popover>
</template>
