<script setup>
import { Popover, PopoverButton, PopoverPanel } from '@headlessui/vue'
import Polygon from '@/components/geometry/Polygon.vue'
import { useLayerSwitcherStore } from '@/stores/layerSwitcher.ts'

const props = defineProps({
  colapsado: {
    type: Boolean,
    default: false,
  },
})

const store = useLayerSwitcherStore()

const random_id = Math.random().toString(36).substring(2)

const delegacionesOrUtbs = computed({
  get() {
    return store.delegacionesVisible ? 'delegaciones' : 'utbs'
  },
  set(value) {
    store.alternarDelegacionesUtbsVisible(value)
  },
})
</script>

<template>
  <Popover>
    <PopoverButton
      as="div"
      class="flex flex-row items-center mt-2"
      :class="{ 'justify-center': props.colapsado }"
    >
      <div>
        <input
          :id="`radio_delegaciones${random_id}`"
          v-model="delegacionesOrUtbs"
          type="radio"
          value="delegaciones"
        />
      </div>

      <div :class="{ 'ml-2': !props.colapsado }">
        <Polygon
          fill="#d01c8b"
          :opacity="0.1"
          stroke="#d01c8b"
        />
      </div>

      <label
        :for="`radio_delegaciones${random_id}`"
        class="ml-2"
        :class="{ hidden: props.colapsado }"
      >
        Delegaciones
      </label>
    </PopoverButton>
    <PopoverPanel class="absolute z-10 px-2 mt-3 w-screen md:w-[500px] md:px-4">
      <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black/5">
        <div class="relative bg-white p-4 md:p-6 space-y-2">
          <h3 class="font-bold text-lg">
            Delegaciones
          </h3>
          <p class="">
            Limite político administrativo en el que esta dividido
            territorialmente el municipio de Toluca con sus 48 delegaciones
          </p>
        </div>
      </div>
    </PopoverPanel>
  </Popover>
</template>
