<script setup>
import { Popover, PopoverButton, PopoverPanel } from '@headlessui/vue'
import { useLayerSwitcherStore } from '@/stores/layerSwitcher.ts'

const props = defineProps({
  colapsado: {
    type: Boolean,
    default: false,
  },
})
const store = useLayerSwitcherStore()
const random_id = Math.random().toString(36).substring(2)
const rellenos = computed({
  get() {
    return store.rellenoVisible
  },
  set(value) {
    store.rellenoVisible = value
  },
})
</script>

<template>
  <Popover>
    <PopoverButton
      as="div"
      class="flex flex-row items-center mt-2"
      :class="{ 'justify-center': props.colapsado }"
    >
      <div>
        <input
          :id="`check_rellenos${random_id}`"
          v-model="rellenos"
          type="checkbox"
        />
      </div>
      <div :class="{ 'ml-2': !props.colapsado }">
        <img
          src="/marcador-rojo.png"
          alt=""
          class="w-[35px]"
        />
      </div>
      <label
        :for="`check_rellenos${random_id}`"
        class="ml-2"
        :class="{ hidden: props.colapsado }"
      >
        Rellenos sanitarios
      </label>
    </PopoverButton>
    <PopoverPanel class="absolute z-10 px-2 mt-3 w-screen md:w-[500px] md:px-4">
      <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black/5">
        <div class="relative bg-white p-4 md:p-6 space-y-2">
          <button
            class="rounded-md bg-blue-100 px-4 py-2 text-sm font-medium text-blue-900 hover:bg-blue-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 w-full mb-2"
            @click="rellenos = !rellenos"
          >
            {{ rellenos ? 'Apagar' : 'Encender' }} capa
          </button>
          <h3>
            <span class="font-bold"> Relleno sanitario </span>
          </h3>
          <p>
            Lugar de disposición final donde llega la basura después de un
            tratamiento previo alejado de la zona urbana
          </p>
        </div>
      </div>
    </PopoverPanel>
  </Popover>
</template>
