<script setup>
const props = defineProps({
  dias: {
    type: Array,
    default() {
      return []
    },
  },
})

const diasCampos = [
  'LUNES',
  'MARTES',
  'MIERCOLES',
  'JUEVES',
  'VIERNES',
  'SABADO',
  'DOMINGO',
]
</script>

<template>
  <div class="">
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th
            v-for="dia in diasCampos"
            :key="dia"
            class="border border-slate-300 text-center"
          >
            {{ dia.substring(0, 3) }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td
            v-for="(dia, idx) in props.dias"
            :key="idx"
            class="border border-slate-300 text-center"
          >
            <span
              v-if="dia === 1"
              class="material-symbols-outlined"
            >
              check_circle
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style></style>
