<script setup>
import Horario from './Horario.vue'
import { useSeleccionadorRutaStore } from '@/stores/seleccionadorRuta'

const store = useSeleccionadorRutaStore()

const { info } = storeToRefs(store)

const diasCampos = [
  'LUNES',
  'MARTES',
  'MIERCOLES',
  'JUEVES',
  'VIERNES',
  'SABADO',
  'DOMINGO',
]

const diasValues = computed(() => {
  return Object.keys(info.value)
    .filter(key => diasCampos.includes(key))
    .map(key => info.value[key])
})
</script>

<template>
  <div class="bg-slate-200 py-6 -mx-3 px-1">
    <div>
      <p>Ruta: {{ info.NOMUT }}, {{ info.NOMDEL }}</p>
      <p>
        Numero económico <b>{{ info.ECO }}</b>
      </p>
      <p>
        KM <b>{{ info.KM / 1000 }}</b>
      </p>
      <p>
        Numero de paradas <b>{{ info.NODOS }}</b>
      </p>
      <p><b>Horario</b></p>
      <p>
        Entrada: <b>{{ info.ENTRADA }} hrs</b>
      </p>
      <p>
        Salida: <b>{{ info.SALIDA }} hrs</b>
      </p>
    </div>
    <div>
      <Horario :dias="diasValues" />
    </div>
  </div>
</template>
