<script setup>
import MapaPrincipal from '~/components/MapaPrincipal.vue'
import PanelSeleccionMapa from '~/components/PanelSeleccionMapa.vue'
import PanelLeyendaInformacion from '~/components/PanelLeyendaInformacion.vue'
</script>

<template>
  <div class="w-full h-full flex">
    <PanelLeyendaInformacion />
    <MapaPrincipal />
    <PanelSeleccionMapa />
  </div>
</template>
