<script setup>
const props = defineProps({
  fill: {
    type: String,
    default: '#BF3131',
  },
  opacity: {
    type: Number,
    default: 0.5,
  },
  stroke: {
    type: String,
    default: '#000000',
  },
  strokeWidth: {
    type: Number,
    default: 1,
  },
})
</script>

<template>
  <svg
    width="35px"
    height="35px"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M10.462 10.4L2 4.8V22h20V2zM21 21H3V6.661l7.489 4.956L21 3.965z"
      :stroke="props.stroke"
      :stroke-width="props.strokeWidth"
    />
    <path
      :opacity="props.opacity"
      :fill="props.fill"
      d="M3 21V6.661l7.489 4.956L21 3.965V21H3z"
    />
    <path
      fill="none"
      d="M0 0h24v24H0z"
    />
  </svg>
</template>
